@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,700&display=swap');

html {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color:#000;


}

    body {
        padding:5rem 0;
        background-color: #FFFECB;
      }

a {
  text-decoration: none;
}

main {
  width:80vw;
  margin: 0 auto;
}
@keyframes moveText {
  0% {
    transform: translateX(450px)
  }
  100%{
    transform: translateX(-10px);
  }
}
@keyframes reverseText {
  0% {
    transform: translateX(450px)
  }
  100%{
    transform: translateX(-10px);
  }
}

.cg-1 {
  grid-column: 2 / 4;
}

.cg-2 {
  grid-column: 2 / 3;
}

.cg-3 {
  grid-column: 4 / 5;
}

#ds-container {
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows:min-content;
  grid-gap:2rem;
}

#left-sidebar {
  grid-column: 1 / 9;
  border-radius: 25px;


}

#main-content {
  grid-column: 6 / 11;

    margin-bottom: 10em;
    margin-top: 4em;
      background-color: white;
      padding: 2em;
      border-radius: 25px;
}
.right-sidebar {
  grid-column: 3 / 9;
  border-radius: 25px;
    background-color: white;
      padding: 2em;
   
      }


section {
  background:#fff;

  padding:3rem;
  margin-bottom:4rem;
  border-radius: 25px;
}


      .section2 {
    grid-column: 1 / 4;
    margin-bottom: 4em;
    margin-top: 2em;
      background-color: white;
      padding: 2em;
      padding-left: 5em;
      padding-right: 5em;
      border-radius: 5px;
   
      }



.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}




a {
  text-decoration: none;
}



/* Typography */


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair-Display', serif;
  font-weight:700;
  line-height:1;
  margin-bottom:1.25rem;
  color: #DDCAF4;

}

#dance {
   animation-name: moveText ; 
   animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#reversedance {
   animation-name: moveText ; 
   animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse ;
  animation-timing-function: ease-in-out;
}
h1 {
  font-size: 4.209em;
}
h2 {
  font-size:3.157em;
}
h3 {
  font-size:2.369em;
}
h4 {
  font-size:1.777em;
}
h5 {
  font-size:1.333em;
}
h6 {
  font-size:1.777em;
  color:#0F0B4B;
}



p, li {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom:1rem;
  font-family: 'Lato', sans-serif;
}

.section-label {
  text-transform: uppercase;
  font-weight:700;

}

.section-break {
  color:#0F0B4B;
  font-weight:700;
  margin-top:3rem;
}

/* Color samples */



  .color-gray {
    background-color: #DDCAF4;
  }
    .color-bright-yellow {
    background-color: #000;
  }
 
    .color-medium-brown {
    background-color: #FFFECB;
  }
    .color-deep-brown {
    background-color:#0F0B4B;
  }


.primary-hue {
  display: flex;
  padding:3rem 1rem;
  color:#ffffff;
  font-family: 'Lato', sans-serif;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.primary-hue > div {
  width:33%;
}

.secondary-hue {
  display: flex;
  padding:1.5rem 1rem;
  color:white;
  font-family: 'Lato', sans-serif;
    border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.secondary-hue > div {
  width:33%;
}
.third-hue {
  display: flex;
  padding:1.5rem 1rem;
  color:black;
  font-family: 'Lato', sans-serif;
}
.third-hue > div {
  width:33%;
}

.neutral-hue {
  display: flex;
  padding:1.5rem 1rem;
  color:#ffffff;
  font-family: 'Lato', sans-serif;
}

.neutral-hue > div {
  width:33%;
}

.accent-hue {
  display: flex;
  padding:.5rem 1rem;
  color:#ffffff;
  font-family: 'Lato', sans-serif;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.accent-hue > div {
  width:33%;
}



.button {
  background-color: #736048; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Montserrat;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #DDCAF4; 
  color: black; 
  border-radius: 25px;
   font-family: 'Lato', sans-serif;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.button1:hover {
  background-color: #0F0B4B;
  color: white;
  border-radius: 25px;
   font-family: 'Lato', sans-serif;
}

.button2 {
  background-color: white; 
  color: #0F0B4B; 
  border: 3px solid #0F0B4B;
  border-radius: 25px;
   font-family: 'Lato', sans-serif;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.button2:hover {
  background-color: white; 
  color: #DDCAF4; 
  border: 3px solid #DDCAF4;
  border-radius: 25px;
   font-family: 'Lato', sans-serif;
}

.button3 {
  background-color: #FFFECB; 
  color: black; 
  opacity: 1;
  cursor: not-allowed;
  border-radius: 25px;
   font-family: 'Lato', sans-serif;
}

.button3:hover {
 background-color: #FFFECB; 
  color: black; 
  opacity: 1;
  cursor: not-allowed;
  border-radius: 25px;
   font-family: 'Lato', sans-serif;
}

/* -- input field -- */


input[type=text] {
  padding: 16px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #DDCAF4;
  color: #0F0B4B; 
   font-family: 'Lato', sans-serif;
   border-radius: 25px;
     box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);

}

/* -- dropdown -- */


.dropbtn {
  background-color: #DDCAF4; 
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
   font-family: 'Lato', sans-serif;
   
}

.dropdown {
  position: relative;
  display: inline-block;
   font-family: 'Lato', sans-serif;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   font-family: 'Lato', sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
   font-family: 'Lato', sans-serif;
}

.dropdown-content a:hover { background-color: #FFFECB;   font-family: 'Lato', sans-serif; }

.dropdown:hover .dropdown-content {
  display: block;
   font-family: 'Lato', sans-serif;
     background-color: #DDCAF4; 

}

.dropdown:hover .dropbtn {
   font-family: 'Lato', sans-serif;
     background-color: #0F0B4B; 

}

/* -- switch -- */


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
   font-family: 'Lato', sans-serif;

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
   f
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFECB;
  -webkit-transition: .4s;
  transition: .4s;
   font-family: 'Lato', sans-serif;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #0F0B4B;
  -webkit-transition: .4s;
  transition: .4s;
   font-family: 'Lato', sans-serif;
}

input:checked + .slider {
  background-color: #DDCAF4;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
   font-family: 'Lato', sans-serif;
}

input:focus + .slider {
  box-shadow: 0 0 1px # #DDCAF4;
   font-family: 'Lato', sans-serif;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
   font-family: 'Lato', sans-serif;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
   font-family: 'Lato', sans-serif;
}

.slider.round:before {
  border-radius: 50%;
   font-family: 'Lato', sans-serif;
}


/* -- date picker -- */


label {
    display: block;
    font: 1rem 'Lato', sans-serif;
    color: #0F0B4B;
      
}

input {
    margin: .4rem 0;
    border: 1px solid #DDCAF4;
     font-family: 'Lato', sans-serif;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);

}

.pointer{
  cursor: pointer;
}

/* -- loader -- */


.loader {
  border: 16px solid #DDCAF4;
  border-radius: 50%;
  border-top: 16px solid #0F0B4B;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


img {
  width:100%;
}



